@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
  height: 200vh;
}
body , html{
  overflow-x: hidden !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 30px;
  font-weight: bold;
  color : orangered;
}
p{
  margin: 5px !important;
  
  padding: 0;
}
.btn1{
  box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;
}

button{
  padding: 3px 10px !important;
}
.header{
  padding: 10px;
  background-color: rgb(255, 250, 240);
  
}

.footer{
  background-color: aliceblue;
  padding: 10%;
}


.Tab {
  margin-top: 10%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid forestgreen;
  width: 100%;
  height: 200px;
}

th {
  border: 2px solid forestgreen;
  border-bottom: 1px solid black;
}

td {
  border: 2px solid forestgreen;
  text-align: center;
}




a{
  color: orangered !important;
}

.pagination{
  margin-top: 12%;
  display: flex;
}
.page-link{
  padding: 10px;
}